@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

.elevate {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.6em 1.4em;
  transition: 0.25s;
  cursor: pointer;
}

.elevate:hover {
  background: #ff90e8;
  color: #000;
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
}

.elevate:active {
  transform: translate(0);
  box-shadow: none;
}

/* elevate outline mode */

.elevate-outline {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.6em 1.4em;
  transition: 0.1s;
  cursor: pointer;
}

.elevate-outline:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
}

.elevate-outline:active {
  transform: translate(0);
  box-shadow: none;
}

/* elevate brand mode */

.elevate-brand {
  background: #ff90e8;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.6em 1.4em;
  transition: 0.1s;
  cursor: pointer;
}

.elevate-brand:hover {
  background: #ff90e8;
  color: #000;
  border: 1px solid #000;
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem #000;
}

.elevate-brand:active {
  transform: translate(0);
  box-shadow: none;
}
